
.square{
    padding: 5%;
    margin: 6px;
    border-radius: 10%;
    background-color: bisque;

}
body{
    background-color: #975656;
}
.wrapper{
        
      box-sizing: border-box;
    margin-left: 40%;
    margin-right: 20%;
    margin-top: 10%;
     
}